<ion-header>
  <ion-toolbar>
    <div class="row">
      <div class="col text-left">
        <ion-title>{{title}} </ion-title>
      </div>
      <div class="col text-right">
        <ion-button
          color="danger"
          (click)="usuarioSrv.deslogearUsuario()"
          float-right
          >Salir</ion-button
        >
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngFor="let photo of imagenesRT; index as position">
    <div *ngIf="verFotosLindas==true">
      <ion-card *ngIf='photo.esLinda=="true"'>
        <ion-card-header>
          <ion-card-subtitle>{{photo.usuario}}</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
          <ion-img [src]="photo.referencia"></ion-img>
        </ion-item>
        <ion-card-content>
          <ion-icon
          [name]="cambiarFoto(photo)"
            size="large"
            (click)="setLike(photo)"
          ></ion-icon>
          Votos:{{photo.votos}}
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="verFotosLindas==false">
      <ion-card *ngIf='photo.esLinda=="false"'>
        <ion-card-header>
          <ion-card-subtitle>{{photo.usuario}}</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
          <ion-img [src]="photo.referencia"></ion-img>
        </ion-item>
        <ion-card-content>
          <ion-icon
          [name]="cambiarFoto(photo)"
            size="large"
            (click)="setLike(photo)"
          ></ion-icon>
          Votos:{{photo.votos}}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
